.tutorial {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centra verticalmente el contenido restante */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.como-usar-crypty{
    position: absolute;
    top: 10%;
}

.slider-container {
    display: flex; /* Usar flexbox para centrar el slider */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-grow: 1; /* Permite que el contenedor del slider ocupe el espacio restante */
}

.slider {
    position: relative; /* Necesario para posicionar los botones */
    background-color: rgba(36, 21, 105, 0.40); /* Color de fondo con opacidad */
    border: 2px solid darkviolet;
    border-radius: 8px;
    margin: 15px auto; /* Centra horizontalmente */
    max-width: 70%; /* Limita el ancho máximo para dispositivos móviles */
    text-align: center; /* Centra el contenido dentro del slider */
    display: flex; /* Usar flexbox para centrar el contenido */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.prev, .next {
    position: absolute; /* Posiciona los botones de forma absoluta */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta el centrado */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.prev {
    left: 10px; /* Posición a la izquierda */
}

.next {
    right: 10px; /* Posición a la derecha */
}